In [5]:
from config.Neo_connect import Neo4jConnection
import pandas as pd
import config.db_settings as db_config

# stablish connection with neo4j
conn = Neo4jConnection(uri="bolt://localhost:7687", user=db_config.USER, pwd=db_config.PASSWORD)
#result = conn.query('create database {}'.format(DATABASE))

In [11]:
json = pd.read_json('data/sdm_sample_db_tw.json')
json.to_csv('data/tweets.csv',index = None)

In [12]:
tweets = pd.read_csv('data/tweets.csv')

In [21]:
tweets.head()

  companies                                         top_tweets
0    ZOMATO  [{'text': '@iamsrk @Tinder_India @DunzoIt @Coi...
1      NTPC  [{'text': 'The commissioning of the WFGD syste...
2  RELIANCE  [{'text': 'The big hike in energy bills from t...
3       UPL  [{'text': 'Hi everyone! I’m Ela, lead singer o...
4     GLAND  [{'text': '🚨 Bank of England: Crypto has the p...

In [16]:
tweets['top_tweets'].head()

0    [{'text': '@iamsrk @Tinder_India @DunzoIt @Coi...
1    [{'text': 'The commissioning of the WFGD syste...
2    [{'text': 'The big hike in energy bills from t...
3    [{'text': 'Hi everyone! I’m Ela, lead singer o...
4    [{'text': '🚨 Bank of England: Crypto has the p...
Name: top_tweets, dtype: object

In [19]:
 stock_data = pd.read_csv('data/top_25NSE.csv')

In [20]:
stock_data.head()

  Company Name  Last Price  % Chg  52 wk High  52 wk Low  Market Cap (Rs. cr)
0     RELIANCE     2595.85   0.67     2751.35    1876.70           1755858.03
1          TCS     3707.45  -1.13     4043.00    3004.00           1371404.80
2         HDFC     1430.90  -0.81     1725.00    1292.00            793384.31
3        WIPRO     1876.55  -0.54     1953.90    1311.30            789415.54
4          ITC      699.25  -0.70      867.00     531.15            485892.84

In [23]:
time = pd.DataFrame()
time["Company Name"] = stock_data["Company Name"]

In [36]:
import datetime
from datetime import datetime
timestamp = pd.Timestamp('2022-6-2 12:00:00')

In [37]:
timestamp

Timestamp('2022-06-02 12:00:00')

In [40]:
time["year"] = 2022
time["month"] = 6
time["day"] = 2
time["hour"] = 12
time["timestamp"] = timestamp

In [41]:
time.head()

  Company Name  year  month  day           timestamp  hour
0     RELIANCE  2022      6    2 2022-06-02 12:00:00    12
1          TCS  2022      6    2 2022-06-02 12:00:00    12
2         HDFC  2022      6    2 2022-06-02 12:00:00    12
3        WIPRO  2022      6    2 2022-06-02 12:00:00    12
4          ITC  2022      6    2 2022-06-02 12:00:00    12

In [57]:
stock_market = pd.DataFrame()

In [58]:
stock_market["country"] = "india"

In [46]:
import json

with open('data/sdm_sample_db_tw.json',encoding="utf8") as f:
    data = json.load(f)
print(data)

[{'companies': 'ZOMATO', 'top_tweets': [{'text': '@iamsrk @Tinder_India @DunzoIt @CoinSwitchKuber @PhonePe @MyNykaa @zomato @DisneyPlusHS *also frantically searching in here*\n\nhttps://t.co/CEvRZ5n1QW', 'support_count': '1416', 'rank': '1', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': '@iamsrk @spotifyindia @Tinder_India @DunzoIt @PhonePe @MyNykaa @zomato @DisneyPlusHS Humare admin ki life mein ab Only Khushi, No Gham https://t.co/yWX0sptvgN', 'support_count': '1297', 'rank': '2', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': "@iamsrk @spotifyindia @Tinder_India @DunzoIt @CoinSwitchKuber @PhonePe @MyNykaa @zomato @DisneyPlusHS Sher-Shah @Imsrk, miliye ek aur Sher @timesprime se jisme hain Zomato Pro subscription, Disney+Hotstar super subscription, AND many many more top subscriptions to make your IPL season better than ever! It's the Only Membership You'll Ever Need!", 'support_count': '454', 'rank': '3', 'sentiment': '0.4047619', 'polarity': '0.4047619'}, {'text': 'Ever since @zomato announced its #10minute delivery offering, there has been a raging debate over the need for such a service.\n\n@Shilparanipeta breaks down the #ZomatoInstant plan &amp; tells why it may be a hit or a miss! https://t.co/AvDhwGsvCN', 'support_count': '144', 'rank': '4', 'sentiment': '-0.07777778', 'polarity': '-0.07777778'}, {'text': '🛵How does #10MinuteDelivery work?\n🤔Is it really possible? \n📦What goes on behind the scenes? \n\n@NayantaraRai gets you this reports from a Blinkit dark store. Watch to find out \n\n@letsblinkit @albinder @zomato @deepigoyal #Delivery #Startups https://t.co/LjthzErKzs', 'support_count': '39', 'rank': '5', 'sentiment': '-0.18333334', 'polarity': '-0.18333334'}]}, {'companies': 'NTPC', 'top_tweets': [{'text': 'The commissioning of the WFGD system for 1X500 MW NTPC Unchahar project, the first and fastest C276 clad absorber across all WFGD projects marks a historic moment for GE Steam Power India.\n\n@ntpclimited #GEinIndia https://t.co/nub0SgtJgg', 'support_count': '30', 'rank': '1', 'sentiment': '0.125', 'polarity': '0.125'}]}, {'companies': 'RELIANCE', 'top_tweets': [{'text': 'The big hike in energy bills from today shows us we are short of electricity and gas. The government needs to take more urgent action to increase domestic supply and end our dangerous and expensive reliance on imports.', 'support_count': '3650', 'rank': '1', 'sentiment': '-0.071428575', 'polarity': '-0.071428575'}, {'text': 'EU signs US gas deal to curb reliance on Russian energy https://t.co/2BzhjWU8Wl', 'support_count': '3062', 'rank': '2', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'Addiction to fossil fuels is mutually assured destruction. \n\nOur continued reliance on fossil fuels puts the global economy and energy security at the mercy of geopolitical shocks and crises. \n\nWe need to fix the broken global energy mix.', 'support_count': '2749', 'rank': '3', 'sentiment': '-0.13333334', 'polarity': '-0.13333334'}, {'text': "It's time that we:\n✅Raise teacher pay\n✅Strengthen their benefits\n✅Fully fund our classrooms\n✅End the over-reliance on standardized testing https://t.co/Ng5EuYLyle", 'support_count': '2663', 'rank': '4', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'Instead of launching more attacks on our teachers, we should address the very real concerns that are causing us to lose them.\n\nRaise teacher pay, improve their benefits, fully fund their classrooms, and end the over-reliance on standardized testing.\nhttps://t.co/YsZDdT8xLg', 'support_count': '2613', 'rank': '5', 'sentiment': '0.38', 'polarity': '0.38'}, {'text': "If the world transitioned to renewables 10 years ago, Russia wouldn't have a fraction of the oil-funded war chest they have now. I'm tired of propping up the world's autocrats and petrostates. Our national security depends on ending our reliance on fossil fuels. #ClimateCantWait", 'support_count': '2592', 'rank': '6', 'sentiment': '-0.4', 'polarity': '-0.4'}, {'text': 'Did you know renewable energy is the least expensive source of energy in our country?\n\n@POTUS has a plan to enhance the American clean energy sector and end our reliance on unstable and unreliable fossil fuels. \n\nhttps://t.co/kdg0JdNyIJ', 'support_count': '2504', 'rank': '7', 'sentiment': '-0.108333334', 'polarity': '-0.108333334'}, {'text': "US and EU today agreed new partnership to reduce the Europe's reliance on Russian energy. LNG exports to Europe to rise by 15 billion cubic metres this year alone, much from America. Europe has denigrated fracking. Now it’s desperate for US fracked gas.", 'support_count': '2488', 'rank': '8', 'sentiment': '-0.06590909', 'polarity': '-0.06590909'}, {'text': "Our country's reliance on fossil fuels empowers dictators like Putin. I stand with a broad coalition of groups calling for action to get our economy off of fossil fuels and double down on clean energy investments. The time to act is now. https://t.co/xSpMxeSqH3", 'support_count': '1733', 'rank': '9', 'sentiment': '0.07472222', 'polarity': '0.07472222'}, {'text': 'The EW suite developed by #DRDO will be produced by #BEL, Hyderabad for #IAF in a recently concluded contract. A major boost to the spirit of #AatmanirbharBharat and realization of journey towards self reliance.\n@PMOIndia @DefenceMinIndia @SpokespersonMoD', 'support_count': '1731', 'rank': '10', 'sentiment': '0.054166667', 'polarity': '0.054166667'}]}, {'companies': 'UPL', 'top_tweets': [{'text': 'Hi everyone! I’m Ela, lead singer of Rainbow Kitten Surprise. Over the past couple of years, I’ve been doing some major soul searching in the pursuit of my authentic self.\xa0\xa0I’m happy to share with you that I am trans. My pronouns are she/her. https://t.co/kejuO2yLIn', 'support_count': '59902', 'rank': '1', 'sentiment': '0.278125', 'polarity': '0.278125'}]}, {'companies': 'GLAND', 'top_tweets': [{'text': '🚨 Bank of England: Crypto has the potential to reshape the traditional financial sector 🚨', 'support_count': '5683', 'rank': '1', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': "A Victorian sewer worker once proved he’d found a tunnel into the Bank of England’s gold vaults and for his honesty, was given £800 (about £90,000 in today's money).", 'support_count': '2329', 'rank': '2', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'The Bank of England has revealed that it is working on sketching a regulatory framework for #cryptocurrency assets. https://t.co/qx8jHfFDj1', 'support_count': '353', 'rank': '3', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'The Weekly Regulatory &amp; Tax Update\n\n🇬🇧 Bank of England drafts crypto regulatory framework\n🇪🇺 EU committee to vote on rules against anonymous crypto transactions\n🇮🇳 India passes bill setting 30% tax on crypto transactions\n\nThe details 👇\nhttps://t.co/qkadH8v0ZD', 'support_count': '229', 'rank': '4', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'Hypothyroidism is when your thyroid gland doesn’t make enough of certain key hormones. It can cause muscle and joint aches, as well as swelling and tenderness. https://t.co/5tOhY3fibN https://t.co/SjBD1vNWwc', 'support_count': '116', 'rank': '5', 'sentiment': '0.071428575', 'polarity': '0.071428575'}, {'text': 'Sweating more and being sensitive to heat are notable symptoms of hyperthyroidism. Your thyroid gland controls your metabolism, so when it makes too much hormone, your body goes into overdrive.  https://t.co/9YonjI5X7r https://t.co/oEkgHlxmDV', 'support_count': '69', 'rank': '6', 'sentiment': '0.325', 'polarity': '0.325'}]}, {'companies': 'MPHASIS', 'top_tweets': [{'text': "Shehbaz Sharif Sb, How? Praise for India's powerful independent policy is felt by all experts in Pakistan &amp; IR students; it doesn't translate into insulting Kashmiris; it only emphasises that our politicians &amp; institutions need to unite for an independent policy from Pakistan https://t.co/tYi8ZjRhab", 'support_count': '3537', 'rank': '1', 'sentiment': '-0.14', 'polarity': '-0.14'}]}, {'companies': 'GAIL', 'top_tweets': [{'text': '#Happydalithistorymonth! As a we open a this years theme on caste, labor, and migration we honor #gailomvedt for all of her incredible insight and scholarship which brought global attention to dalit, our dignity and labor! https://t.co/RofkDzGdT9', 'support_count': '46', 'rank': '1', 'sentiment': '0.3', 'polarity': '0.3'}]}, {'companies': 'ITC', 'top_tweets': [{'text': "According to @bellingcat the Russian FSB paid billions of $ to ensure that some shadowy political class in Ukraine supported this war &amp; created an internal coup d'état immediately after the invasion. But Ukrainian agents who took the money ditched them.They just screwed them over", 'support_count': '38315', 'rank': '1', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': '#NCTDREAM Breaks Personal Record With Over 2 Million Stock Pre-Orders For "Glitch Mode" \nhttps://t.co/RxxcZqc5Gg https://t.co/7jcbbVSYg1', 'support_count': '36305', 'rank': '2', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': '“Crypto has grown by leaps and bounds, and is now playing a significant role in the investment decisions of lots of Americans. We would like to … create a regulatory environment in which healthy innovation can continue.” - @SecYellen on #Bitcoin\nhttps://t.co/UHKqf6bvrV', 'support_count': '11245', 'rank': '3', 'sentiment': '0.4375', 'polarity': '0.4375'}, {'text': 'Chef @chefjoseandres\xa0tells me in Kyiv that his humanitarian organization @WCKitchen\xa0have been delivering 300,000 meals a day for those Ukrainians hit by war. I asked him how he does it: "It\'s not so complicated. I\'m a cook. I have restaurants... we are the food fighters." https://t.co/Jx6CF1xWxy', 'support_count': '10938', 'rank': '4', 'sentiment': '-0.5', 'polarity': '-0.5'}, {'text': 'NEW 💥 Vietnam PM orders central bank to create LEGAL framework for #Bitcoin and crypto 🇻🇳 https://t.co/Gmzd6N4lvh', 'support_count': '7574', 'rank': '5', 'sentiment': '0.11212121', 'polarity': '0.11212121'}, {'text': 'Russia considers accepting Bitcoin for oil and gas https://t.co/q7zvTbuHDE', 'support_count': '3528', 'rank': '6', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'While I agree with most of this, I think the article gets the motivation wrong. It’s not Thomas’s views on abortion. To Mitch, that’s just another issue. It’s Thomas’s views on dark money. That’s Mitch’s life support system and the source of his power. \xa0https://t.co/YHHUQt7IQv', 'support_count': '3369', 'rank': '7', 'sentiment': '-0.05', 'polarity': '-0.05'}, {'text': 'Governments take your rights. \n\nBanks take your money.\n\nBitcoin gives it all back.', 'support_count': '2978', 'rank': '8', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': '@iamsrk @spotifyindia @Tinder_India @DunzoIt @CoinSwitchKuber @PhonePe @MyNykaa @DisneyPlusHS listening you sing our name 🥺 https://t.co/suvMXGBcpr', 'support_count': '2791', 'rank': '9', 'sentiment': '0.0', 'polarity': '0.0'}, {'text': 'JUST IN: Investment firm VanEck believes that #Bitcoin could hit $4.8M per coin if it becomes the global reserve asset.', 'support_count': '1873', 'rank': '10', 'sentiment': '-0.1', 'polarity': '-0.1'}]}]

In [49]:
flx = json.dumps(data[0]["companies"], ensure_ascii=False, indent=4)
print(flx)

"ZOMATO"

In [55]:
flx = json.dumps(data[0], ensure_ascii=False, indent=4)
print(flx)

{
    "companies": "ZOMATO",
    "top_tweets": [
        {
            "text": "@iamsrk @Tinder_India @DunzoIt @CoinSwitchKuber @PhonePe @MyNykaa @zomato @DisneyPlusHS *also frantically searching in here*\n\nhttps://t.co/CEvRZ5n1QW",
            "support_count": "1416",
            "rank": "1",
            "sentiment": "0.0",
            "polarity": "0.0"
        },
        {
            "text": "@iamsrk @spotifyindia @Tinder_India @DunzoIt @PhonePe @MyNykaa @zomato @DisneyPlusHS Humare admin ki life mein ab Only Khushi, No Gham https://t.co/yWX0sptvgN",
            "support_count": "1297",
            "rank": "2",
            "sentiment": "0.0",
            "polarity": "0.0"
        },
        {
            "text": "@iamsrk @spotifyindia @Tinder_India @DunzoIt @CoinSwitchKuber @PhonePe @MyNykaa @zomato @DisneyPlusHS Sher-Shah @Imsrk, miliye ek aur Sher @timesprime se jisme hain Zomato Pro subscription, Disney+Hotstar super subscription, AND many many more top subscriptions to make your IPL season better than ever! It's the Only Membership You'll Ever Need!",
            "support_count": "454",
            "rank": "3",
            "sentiment": "0.4047619",
            "polarity": "0.4047619"
        },
        {
            "text": "Ever since @zomato announced its #10minute delivery offering, there has been a raging debate over the need for such a service.\n\n@Shilparanipeta breaks down the #ZomatoInstant plan &amp; tells why it may be a hit or a miss! https://t.co/AvDhwGsvCN",
            "support_count": "144",
            "rank": "4",
            "sentiment": "-0.07777778",
            "polarity": "-0.07777778"
        },
        {
            "text": "🛵How does #10MinuteDelivery work?\n🤔Is it really possible? \n📦What goes on behind the scenes? \n\n@NayantaraRai gets you this reports from a Blinkit dark store. Watch to find out \n\n@letsblinkit @albinder @zomato @deepigoyal #Delivery #Startups https://t.co/LjthzErKzs",
            "support_count": "39",
            "rank": "5",
            "sentiment": "-0.18333334",
            "polarity": "-0.18333334"
        }
    ]
}

In [56]:
flx["companies"]

TypeError: string indices must be integers

In [ ]:


#unique constraints
#---------------------------------
q_constraints = ['''
create constraint on ()-[r:is_published_in]-() assert exists (r.year)
''',
'''create constraint on (a:author) assert a.id is unique''',
'''create constraint on (a:article) assert a.id is unique''',
'''create constraint on (a:publisher) assert a.id is unique''',
'''create constraint on (a:Keyword) assert a.id is unique'''
]

for j,re_query in enumerate(q_constraints):
    result = conn.query(re_query, db=db_config.DATABASE)
    print("query {} executed \n {} \n".format(j+1,re_query))


# time(year,month,day,hour,timestamp), tweet(rank, text,support_count,sentiment_score), company(company name), 
# stock data(low,high,open,close), stock market(country name, market name),  users, 

#create nodes
#-----------------------------------
node_queries = [
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/authors.csv' as row FIELDTERMINATOR ',' CREATE (:author {id:row.ID, name: row.name}) return row.name;
''',
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/articles.csv' as row FIELDTERMINATOR ',' CREATE (:article {id:row.ID, title:row.title, DOI:row.DOI}) return row.title;
''',
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/conference.csv' as row FIELDTERMINATOR ',' CREATE (:conference {id:row.ID, title:row.name, type:row.Type}) return row.name;
''',
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/journal.csv' as row FIELDTERMINATOR ',' CREATE (:journal {id:row.ID, title:row.name, type:row.Type}) return row.name;
''',
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/concepts.csv' as row FIELDTERMINATOR ',' CREATE (:Keyword {id:row.ID, name: row.name}) return row.name;
''']


for i, nd_query in enumerate(node_queries):
    result = conn.query(nd_query, db=db_config.DATABASE)
    print("query {} executed \n {} \n".format(i+1,nd_query))





#make_relations
#-----------------------------------------------

relation_queries = [
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/author_written_article.csv' as row FIELDTERMINATOR ','
MATCH (auth:author {id: row.author_ID}),(art:article {id: row.article_ID})
CREATE (auth)-[r:is_author_of]->(art) return r
''',
'''LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/article_published_by.csv' as row FIELDTERMINATOR ','
MATCH (art:article {id: row.article_ID}),(publ:conference {id: row.publisher_ID})
CREATE (art)-[r:is_published_in{year:row.year}]->(publ) return r''',

'''LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/article_published_by.csv' as row FIELDTERMINATOR ','
MATCH (art:article {id: row.article_ID}),(publ:journal {id: row.publisher_ID})
CREATE (art)-[r:is_published_in{year:row.year, volume:"1"}]->(publ) return r'''
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/paper_cited_by.csv' as row FIELDTERMINATOR ','
MATCH (art:article {id: row.article_ID}),(cite:article {id: row.cite_paper_ID})
CREATE (art)-[r:has_cited{year:row.year, volume:"1"}]->(cite) return r
''',
'''
LOAD CSV WITH HEADERS FROM 'file:/SDM_lab1/kaggle_data_processed/article_has_keyword.csv' as row FIELDTERMINATOR ','
MATCH (art:article {id: row.article_ID}),(key:Keyword {id: row.keyword_ID})
CREATE (art)-[r:has]->(key) return r
''']


for j,re_query in enumerate(relation_queries):
    result = conn.query(re_query, db=db_config.DATABASE)
    print("query {} executed \n {} \n".format(j+1,re_query))




#=======================================================================================
# creating index on publisher node
ind_q = '''CREATE INDEX conf_journ_idx FOR (pub:publisher) ON (pub.type)'''
result = conn.query(ind_q, db=db_config.DATABASE)
print("index created on publisher node on attribute type")












# q = ''' MATCH (n:article) RETURN n LIMIT 25'''
# result = conn.query(q, db=DATABASE)
# # print(result[1].data())
# dtf_data = pd.DataFrame([_.data()['n'] for _ in result])
# print(dtf_data)
# loading data from CSV
#---------------------------------------------------------------------